@model Basecode.Data.ViewModels.ConfirmedViewModel

<style>
    .button-wrapper {
        display: inline-block;
        margin-right: 20px;
    }

    button {
        background-color: inherit;
        border: none;
    }

    .shortlist-wrapper {
        padding: 1rem;
        height: 100vh;
    }

    .table-wrapper {
        padding: 1rem;
        height: 100%;
        border-radius: 15px;
        background-color: #fff;
    }

    .highlighted {
        color: #EC2224;
        border-bottom: 2px solid #EC2224;
    }
</style>

<div class="shortlist-wrapper d-flex flex-column gap-3">
    <nav>
        <div class="button-wrapper">
            <button class="highlighted" id="forOnboardingButton">FOR ONBOARDING</button>
        </div>
        <div class="button-wrapper">
            <button id="forDeploymentButton">FOR DEPLOYMENT</button>
        </div>
    </nav>

    <div class="table-wrapper d-flex flex-column">
        <div id="forOnboardingContainer">
            <partial name="_ConfirmedPartialView" model="Model.ConfirmedApplicants" />
        </div>
        <div id="forDeploymentContainer" style="display: none;">
            <partial name="_ConfirmedPartialView" model="Model.OnboardingApplicants" />
        </div>
    </div>
</div>

<script>
    var forOnboardingButton = document.getElementById('forOnboardingButton');
    var forDeploymentButton = document.getElementById('forDeploymentButton');
    
    function toggleForOnboarding() {
        forOnboardingButton.classList.add('highlighted');
        forDeploymentButton.classList.remove('highlighted');

        document.getElementById('forOnboardingContainer').style.display = 'block';
        document.getElementById('forDeploymentContainer').style.display = 'none';
    }

    function toggleForDeployment() {
        forOnboardingButton.classList.remove('highlighted');
        forDeploymentButton.classList.add('highlighted');

        document.getElementById('forOnboardingContainer').style.display = 'none';
        document.getElementById('forDeploymentContainer').style.display = 'block';
    }

    forOnboardingButton.addEventListener("click", toggleForOnboarding);
    forDeploymentButton.addEventListener("click", toggleForDeployment);
</script>