@model Basecode.Data.ViewModels.ShortListedViewModel

<style>
    .button-wrapper {
        display: inline-block;
        margin-right: 20px;
    }

    button {
        background-color: inherit;
        border: none;
    }

    .shortlist-wrapper {
        padding: 1rem;
        height: 100vh;
    }

    .table-wrapper {
        padding: 1rem;
        height: 100%;
        border-radius: 15px;
        background-color: #fff;
    }

    .highlighted {
        color: #EC2224;
        border-bottom: 2px solid #EC2224;
    }
</style>

<div class="shortlist-wrapper d-flex flex-column gap-3">
    <nav>
        <div class="button-wrapper">
            <button class="highlighted" id="clButton">CONFIRMED LIST</button>
        </div>
        <div class="button-wrapper">
            <button id="tobeconfirmButton">TO BE CONFIRMED</button>
        </div>
    </nav>

    <div class="table-wrapper d-flex flex-column">
        <div id="clPartialView">
            <partial name="_ConfirmListPartialView" model="Model.ConfirmedShortlisted" />
        </div>
        <div id="confirmlistPartialView">
            <partial name="_ToBeConfirmedListPartialView" model="Model.ToBeConfirmedShortlisted" />
        </div>
    </div>
</div>

<script>
    var clButton = document.getElementById('clButton');
    var tobeconfirmButton = document.getElementById('tobeconfirmButton');

    function toggleCLScreening() {
        console.log("Confirm List clicked");
        clButton.classList.add('highlighted');
        tobeconfirmButton.classList.remove('highlighted');

        document.getElementById('clPartialView').style.display = 'block';
        document.getElementById('confirmlistPartialView').style.display = 'none';
    }

    function toggleToBeConfirm() {
        console.log("Background Check clicked");
        clButton.classList.remove('highlighted');
        tobeconfirmButton.classList.add('highlighted');

        document.getElementById('clPartialView').style.display = 'none';
        document.getElementById('confirmlistPartialView').style.display = 'block';
    }



    clButton.addEventListener("click", toggleCLScreening);
    tobeconfirmButton.addEventListener("click", toggleToBeConfirm);
</script>