@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="CreateView">
            <button class="view-button">Add Job</button>
        </a>
    }
    else
    {
        
    }
        