@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Job" asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="submit" value="Delete" class="delete-button" />
    </form>
    <a class="update-button" asp-controller="Job" asp-action="UpdateView" asp-route-id="@Model.Id">Update</a>
}
else
{
   
}
