.btn, .btn:hover {
    color: white;
    background-color: #EC2224;
    border-radius: 0.4rem;
    border-color: #EC2224;
    font-weight: 500;
}

.btn-outline-primary:disabled {
    color: #EC2224;
}

.btn-cancel, .btn-cancel:hover {
    color: #4C4C4C;
    background-color: rgba(0, 0, 0, 0);
    border-color: #4C4C4C;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
    box-shadow: 0 0 0 0.2rem rgba(66, 90, 115, 0.25) !important;
    border-color: #425A73 !important;
}

.select2-dropdown {
    border-color: #425A73 !important;
}

.select2-results__option.select2-results__option--selected {
    background-color: #425A73 !important;
}
