@{
    ViewData["Title"] = "Reject Schedule";
}

<div class="container mt-5">
    <div class="row text-center justify-content-center">
        <div class="col-md-6">
            @if (ViewBag.IsScheduleRejected == true)
            {
                <h4>You have successfully rejected the schedule.</h4>
                <p>The interviewer will be informed. Please wait for a new schedule to be sent to your email.</p>
            }
            else
            {
                <p>Your token is invalid or has expired.</p>
            }
        </div>
    </div>
</div>
